html {
    scroll-behavior: smooth;
    height: 100%;
}

body, html{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 0;
    margin: 0;
    min-height: 100%;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}   

a {
   text-decoration: none;
   color: inherit;
}

p {
    margin: 0;
}

hr {
    border: none;
    background-color: #d3d3d3;
    height: 1px;
}

img {
    border-radius: 8px;
}

div {
    box-sizing: border-box;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    max-height: 100%;
}

button img {
    max-height: 100%;
    max-width: 100%;
}

input {
    font-family: 'Montserrat', sans-serif;
}

input[type=text] {
    border: none;
    font-size: 11pt;
    outline: none;
    -webkit-appearance: none;
    flex: 1 1 89%;
    background: transparent;
}

input[type=submit] {
    font-size: 17pt;
    border: none;
    background: none;
    cursor: pointer;
    flex: 1 1 10%;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
}

select:focus {
    outline: none;
}

select::-ms-expand { 
    display: none; 
} 

.inputContainer {
    display: flex;
    justify-content: space-between;
}

#searchbox_div {
    border-radius: 25px;
    border: none;
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    max-width: 430pt;
    width: calc(100vw - 100pt);
    padding: 1pt 10pt;
    height: 30pt;
    display: flex;
    margin: 10pt 10pt 0 0;
    transition: 0.2s;
    overflow: hidden;
    background-color: white;
}

#searchbox_div div {
    display: flex;
}

#searchbox_form {
    flex: 1 1 90%;
    flex-direction: column;
}

#searchbox_form div {
    height: 30pt;
}

#search_term_div {
    flex: 1 1 90%;
    height: 30pt;
    padding: 2pt 4pt;
}

#search_term_div img {
    min-width: 30px;
}

#filter_dropdown_div {
    padding-bottom: 8pt;
}

#filter_dropdown_div select {
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    max-width: 140pt;
    text-align-last: center;
    padding-bottom: 0pt;
}

#filter_dropdown_div select:focus {
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    transition: 0.1s;
}

#filter_dropdown_div option {
    background-color: white;
    color: black;
    border: 1px red solid;
}

#dropdown_offset {
    margin-right: 10pt;
}

#set_content {
    margin-top: 100pt;
    margin-right: 40pt;
}

.set_info {
    margin-bottom: -4pt;
    padding: 0 15pt;
    border-radius: 20px;
    width: fit-content;
    margin-right: 8pt;
    transition: 0.2s;
}

.set_info:hover {
    color: white;
}

.set_info_cat {
    border: solid 1.5px #5292C8;
}

.set_info_cat:hover {
    background-color: #5292C8;
}

.set_info_year {
    border: solid 1.5px #C85252;
}

.set_info_year:hover {
    background-color: #C85252;
}

.cat_selectbox_hover_js {
    color: white !important;
    background-color: #5292C8 !important;
}

.year_selectbox_hover_js {
    color: white !important;
    background-color: #C85252 !important;
}

#filter_dropdown_btn{
    flex: 1 1 5%;
    display: flex;
    align-items: flex-start;
}

#filter_dropdown_btn_img {
    height: 10pt;
    margin: 10pt 0;
    transition: all 0.2s ease;
}

#search_btn {
    flex: 1 1 5%;
    margin-right: 10pt;
}

#flexbox_margin {
    flex: 1 1 5%;
}

.logo {
    color: #5b9ce6;
}

.menu {
    display: flex;
    flex-direction: row;
    height: 90pt;
}

.menu #searchbox-div {
    margin: 20pt 30px;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
}

.footer {
    height: 40pt;
    margin-bottom: 60pt;
}