body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

a {
   text-decoration: none;
   color: inherit;
}

p {
    margin: 0;
}

hr {
    border: none;
    background-color: #d3d3d3;
    height: 1px;
}

img {
    border-radius: 8px;
}

div {
    box-sizing: border-box;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input[type=text] {
    border-radius: 50px;
    border: none;
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    max-width: 530pt;
    width: calc(100vw - 300pt);
    height: 16pt;
    padding: 10px 50px;
    font-size: 11pt;
    outline: none;
    -webkit-appearance: none;
}

input[type=submit] {
    position: absolute;
    font-size: 17pt;
    margin: 5pt 0 0 8pt;
    border: none;
    background: none;
    cursor: pointer;
}

input {
    font-family: 'Montserrat', sans-serif;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
}

#magnify {
    height: 18pt;
    position: absolute;
    margin: 7pt 0 0 12pt;
}

.logo {
    background: linear-gradient(315deg, var(--color1, #0f69d6), var(--color2, #5b9ce6) 51%, var(--color1, #0f69d6)) var(--x, 0)/ 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.6s;
    transition-timing-function: ease;
}

.logo:hover { --x: 100%; }

.menu {
    display: flex;
    flex-direction: row;
}

.menu form {
    margin: 20pt 30px;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
}