@media only screen and (max-width: 700px) {

    #set_content {
        margin-top: 20pt;
    }   

    .result_title {
        font-size: 12pt;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        margin: 10pt 0;
        height: auto;
    }

    #minititle {
        font-size: 36pt;
        margin-top: 20pt;
        text-align: center;
    }

    #set_title {
        font-size: 28pt;
        text-align: center;
    }

    #set_id {
        font-size: 11pt;
        text-align: center;
    }

    .set_info {
        width: 100pt;
    }

    #filter_dropdown_div select {
        font-size: 9pt;
    }

    .set_info_year {
        width: 60pt;
    }

    #set_info_div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #set_info_div img {
        margin: 0;
        margin: 10pt 0;
        width: 90vw;
    }

    .category {
        display: flex;
        justify-content: center;
    }

    .result_container img {
        height: 120px;
        width: 120px;
    }

    .sets {
        width: 85vw;
    }

    #set_inventory_title {
        text-align: center;
    }

    .ellips {
        width: 200pt;
    }

    #search_term_div img {
        padding: 0;
    }

    .error {
        flex-direction: column;
    }

    .imgSeq img {
        height: 150px;
    }
}

@media only screen and (max-width: 450px) {
    #searchbox_div {
        width: calc(100vw - 30pt);
    }

    .set_info_cat {
        width: 90pt;
    }

    #title {
        font-size: 48pt; 
    }

    #set_title {
        font-size: 22pt;
        text-align: center;
    }

    .paper h1 {
        font-size: 18pt;
    }

    .paper {
        padding: 12mm;
    }

    .paper .logo {
        font-size: 42pt;
    }

    .part_cell {
        margin: 10pt 8pt;
    }

    .part_cell p {
        font-size: 11pt;
    }

    .item_img_div img {
        height: 40px;
        width: 40px;
        object-fit: contain;
    }

    .pagination {
        max-width: calc(100vw - 50pt);
    }   
}