@media only screen and (max-width: 700px) {
    input[type=text] {
        max-width: calc(100vw - 130pt);
        width: calc(100vw - 130pt);
        height: 16pt;
        justify-content: center;
        align-items: center;
    }

    .result_title {
        font-size: 12pt;
    }

    .menu {
        flex-direction: column;
    }

    #minititle {
        font-size: 36pt;
        margin-top: 20pt;
        text-align: center;
    }

    .menu form {
        margin: 6pt 30pt;
    }

    #set_title {
        font-size: 28pt;
        text-align: center;
    }

    #set_id {
        font-size: 11pt;
        text-align: center;
    }

    .set_info {
        font-size: 12pt;
        margin: 2pt;
    }

    #set_info_div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #set_info_div img {
        margin: 0;
        margin: 10pt 0;
        width: 90vw;
    }

    .category {
        display: flex;
        justify-content: center;
    }
    
    #search_results_container {

    }

    .result_container img {
        height: 120px;
        width: 120px;
    }

    .sets {
        width: 85vw;
    }

    #set_inventory_title {
        text-align: center;
    }
}

@media only screen and (max-width: 450px) {
    #title {
        font-size: 48pt; 
    }

    #set_title {
        font-size: 22pt;
        text-align: center;
    }

    .paper h1 {
        font-size: 18pt;
    }

    .paper {
        padding: 12mm;
    }

    .paper .logo {
        font-size: 42pt;
    }

    ::placeholder {
        font-size: 9pt;
    }

    #search_results_container {
        
    }

    .part_cell {
        margin: 10pt 8pt;
    }

    .part_cell p {
        font-size: 11pt;
    }

    .item_img_div img {
        height: 40px;
        width: 40px;
        object-fit: contain;
    }

    .pagination {
        max-width: calc(100vw - 50pt);
    }
   
}