input[type=text] {
    border-radius: 50px;
    border: none;
    -webkit-box-shadow: 0px 0px 18px -3px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 18px -3px rgba(0,0,0,0.5);
    width: 400px;
    padding: 10px 30px;
}

#title {
    font-size: 75px;
    background: linear-gradient(315deg, rgba(15,106,214,1) 0%, rgba(91,155,230,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
}

.search {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.search_results_container {
    padding: 0 10%;
}

.result_container {
    background: transparent;
    height: 100px;
    padding: 20px 40px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;
    align-items: flex-start;
}

.result_container img {
    height: 100%;
    margin-right: 10px;
    border-radius: 8px;
}

.result_title {
    font-weight: bold;
    font-size: 25px;
}