/* =========== INDEX ========== */

#title {
    font-size: 67pt;
    margin: 12pt;
}

#minititle {
    font-size: 25pt;
    margin: 10pt;
}

#search {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16vh;
}

/* =========== SEARCH PAGE ========== */

#search_results_container {
    padding: 0 10%;
}
.blur_effect {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.result_container {
    background: transparent;
    height: 150px;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;
    align-items: flex-start;
    transition: 0.2s;
}

.result_container img {
    transition:  .2s;
    margin-right: 10pt;
    height: 120px;
    width: 120px;
    object-fit: contain;
}

.result_container img:hover {
    top: 200px;
    -webkit-box-shadow: 0px 0px 18px 5px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 18px 5px rgba(0,0,0,0.3);
}

.result_title {
    font-weight: bold;
    font-size: 16pt;
}

.pagination {
    position: absolute;
    bottom: -70pt;
    left: 50%;
    transform: translateX(-50%);
    max-width: calc(100vw - 100pt);
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    border-radius: 50pt;
    height: 36pt;
    line-height: 36pt;
    display: flex;
    flex-wrap: nowrap !important;
    overflow-x: scroll;
    padding: 0 10pt;
    box-shadow: inset 12px 0 15px -4px  rgba(0,0,0,0.1), inset -12px 0 8px -4px  rgba(0,0,0,0.1);
}

.pagination a {
    font-size: 14pt;
    padding: 6pt 10pt;
    transition: .2s;
    height: 20pt;
    width: 20pt;
    border-radius: 50pt;
}

.pagination a:hover {
    background-color: #0f69d6a4;
    color: white;
    cursor: pointer;
}

.prompt {
    text-align: center;
    margin-top: 20pt;
}

/* =========== SET PAGE ========== */

#set_page_container {
    padding: 0 10%;
}

#set_info_div {
    display: flex;
    margin: 30pt 0;
}

#set_info_div img {
    max-width: 420px;
    margin-right: 30pt;
    object-fit: contain;
}

#set_title {
    font-size: 30pt;
}
#set_id {
    font-size: 14pt;
    color: darkgrey;
    margin-bottom: 5pt;
}

.set_info {
    font-size: 14pt;
    padding: 2pt 15pt;
    border-radius: 30px;
    width: fit-content;
    margin-right: 8pt;
    transition: 0.2s;
}
.set_info:hover {
    color: white;
}
.set_info_cat {
    border: solid 1.5px green;
}
.set_info_cat:hover {
    background-color: green;
}
.set_info_year {
    border: solid 1.5px red;
}
.set_info_year:hover {
    background-color: red;
}

#set_inventory_title {
    font-size: 24pt;
}

.set_inventory_div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.part_cell {
    border-radius: 10pt;
    margin: 12pt 15pt;
    padding: 12pt 15pt;
    -webkit-box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.08); 
    box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 4 1 10%; 
    justify-content: center;
    transition: 0.2s;
}
.part_cell:last-child{
    flex-grow: 0;
}
.part_cell:hover {
    -webkit-box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.2);
    cursor: pointer;
}

#inventory_minifigs_div {
    box-shadow: none;
}

.part_cell p {
    font-size: 16pt;
    margin-right: 8pt;
    white-space: nowrap;
}

.item_img_div {
    position: relative;
}

.item_id {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    -webkit-box-shadow: 0px -10px 8px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px -10px 8px -2px rgba(0, 0, 0, 0.3);
    background-color: white;
    text-align: center;
    height: 60%;
    border-radius: 4px 4px 0 0;
    display: none;
    padding-top: 2pt;
}

.sets {
    padding-bottom: 8pt;
}

.category {
    display: flex;
    flex-direction: row;
    margin: 6pt 0;
}

#part_details_div {
    position: fixed;
    bottom: 0;
    left: 0;
    height:13vh;
    width: 30vw;
    margin: 0 35vw;
    padding: 10pt 25pt;
    padding-top: 15pt;
    z-index: 2;
    background-color: white;
    -webkit-box-shadow: 0px -10px 8px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 10px -30px 20px rgba(0, 0, 0, 0.3);
    border-radius: 50px 50px 0 0;
    display: hidden;
    
}
#part_details_div div {
    height: 100%;
}
#part_details_div img {
    margin-right: 20pt;
}

#part_name {
    font-size: 14pt;
    margin-bottom: 5pt;
}
#part_id {
    font-size: 13pt;
    color: darkgrey;
}


/* =========== REPORT PAGE ========== */
.paper {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 4mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70pt;
}

.cover h1 {
    margin-bottom: 20pt;
    font-size: 64pt;
}

.elips {
    border-radius: 50px;
    border: none;
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    width: 380pt;
    height: 28pt;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elips p {
    margin-right: 16pt;
}

.elips h4 {
    margin-left: 16pt;
    font-weight: 400;
    color: rgb(49, 49, 49);
}

.authors {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300pt;
    margin-top: 60pt;
    text-align: center;
}

.name p {
    margin: 4pt;
}

.liuId p {
    margin: 4pt;
}

.pageNum {
    text-align: right;
}

.text {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 12pt;
    text-align: justify;
}

.section {
    display: flex;
    justify-content: space-between;
}

.section h4 {
    margin: 6pt;
}

.home {
    position: absolute;
    background: linear-gradient(90deg, rgba(15,105,214,1) 0%, rgba(91,156,230,1) 35%);
    color: white;
    margin: 30pt;
    width: 60pt;
    height: 24pt;
    border-radius: 30pt;
    transition: .2s;
}

.home:hover {
    -webkit-box-shadow: 0px 0px 6px 5px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 6px 5px rgba(56, 43, 43, 0.1);
}

.cloons {
    width: 300pt;
    height: 200pt;
    margin: auto;
    background-size: 100%;
}

.noresult {
    text-align: center;
}

